* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
    font-family: 'Nunito', sans-serif;
}

/* Paleta de colores
#2B2D42 - azul oscuro
#D4D6D7 - celeste clarito
#8D99AE - azul celeste
*/


.container-fluid{
    background-color: #D4D6D7;
}
.navbar-brand{
    height: 200px;
}

.nav-link{
    color: black;
    font-size: large;
}

.nav-link:hover {
    color: darkolivegreen;
    list-style-type: none;
}

main{
    background-color: #2B2D42;
}
h1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #D4D6D7;
    font-size: medium;
}

.posters
{
    height: 250px;
    width: 210px;
}
.pagination{
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.flex-index{
    padding: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contacto{
    height: 500px;
    width: 350px;
    background-color: #2B2D42;
    text-align: justify;
    margin: auto;
    padding: 1%;
}

.ingresar{
    height: 500px;
    width: 350px;
    background: #2B2D42;
    text-align: center;
    margin: auto;
    padding: 1%;
}

label{
    color: white;
}

footer {
    background-color: #8D99AE;
    background-size: auto;
    text-align: center;
    font-size: 15px;
    padding: 20px;
}

.copyright {
    color: #D4D6D7;
    font-style: italic;
}
